main {
  padding: 0 0 100px;
  height: 100%;
}

/* Banner區塊 */
.main-banner {
  background-image: url(../../images/travel-category.jpg);
  height: 400px;
  background-size: cover;
  background-position: center;
}

/* 麵包屑區塊 */

div.breadscrumb {
  height: 50px;
  margin-top: 10px;
  padding-left: 40px;
}

div.breadscrumb .breadscrumb-list img {
  height: 20px;
  padding-top: 5px;
}

div.breadscrumb .breadscrumb-list {
  display: flex;
}

div.breadscrumb .breadscrumb-list a {
  color: grey;
  text-decoration: none;
}

div.breadscrumb .breadscrumb-list a:hover {
  color: #e01356;
}

div.breadscrumb .breadscrumb-list li::before {
  content: "/";
  font-size: 20px;
  color: black;
  margin: 0 10px;
  color: silver;
}

div.breadscrumb .breadscrumb-list li:first-child::before {
  display: none;
}

/* 內容區塊 */

section.content-top .title {
  padding-left: 100px;
  background-color: #70bd44;
  width: 400px;
  border-radius: 0 50px 0 0;
}

div.content div {
  height: 326px;
}
section .wrap {
  display: flex;
  height: 700px;
  padding-left: 70px;
  padding-right: 70px;
  margin-top: 50px;
  justify-content: space-around;
}

div.content {
  width: 500px;
  display: flex;
  flex-direction: column;
}

div.content p {
  line-height: 1.6;
}

div.content div.para2 {
  margin-top: 40px;
}

div.content p:first-child {
  padding-bottom: 20px;
  padding-top: 54.5px;
}

div.wrap .thumbnail {
  width: 472px;
  height: 315px;
}

div.wrap .thumbnail img {
  width: 100%;
  margin-top: 30px;
}

div.wrap .thumbnail :first-child {
  padding-bottom: 20px;
}

/* 冒險刺激套裝區塊 */

section.hot-schedule .title {
  margin-top: 50px;
  text-align: center;
  font-size: 50px;
  padding-top: 50px;
}

.advanture {
  background-color: #70bd44;
}

.culture {
  background-color: #d59235;
}

.snow {
  background-color: #0495cf;
}

.romantic {
  background-color: #a56072;
}

section .travel-list .thumbnail {
  height: 229px;
  position: relative;
  overflow: hidden;
}

section .travel-list .thumbnail img {
  height: 100%;
  width: 373px;
}

section .travel-list li {
  width: 373px;
  margin-bottom: 20px;
}

section .travel-list .thumbnail span {
  position: absolute;
  display: block;
  color: white;
}

section .travel-list .thumbnail .badge {
  left: 10px;
  top: 20px;
  min-width: 45px;
  min-height: 45px;
  text-align: center;
}

section .travel-list .thumbnail::before {
  content: "";
  display: block;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 45px;
  height: 45px;
  background-color: black;
  border-radius: 30px;
}

section .travel-list .thumbnail .tag {
  line-height: 40px;
  width: 150px;
  left: 0;
  bottom: 0;
  border-radius: 0 20px 0 0;
  text-align: center;
}

section .travel-list .detail {
  padding: 10px 20px 30px;
  background-color: white;
}

section .travel-list .detail h4 {
  font-size: 26px;
}

section .travel-list .detail .rate {
  height: 20px;
  margin-bottom: 10px;
  margin-top: 1px;
}

section .travel-list .detail .rate img {
  height: 100%;
}

section .travel-list .detail .price {
  font-size: 16px;
  margin-bottom: 35px;
  font-weight: 400;
}

section .travel-list .detail .price span {
  font-size: 23px;
  font-weight: 500;
}

section .travel-list .detail .description {
  font-size: 18px;
  height: 120px;
}

section .travel-list .detail .more {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

section .travel-list .detail .more a {
  display: inline-block;
  padding: 5px 20px;
  color: black;
  border: 1px solid #e01356;
}

section .travel-list .detail .more a:hover {
  color: white;
  background-color: #e01356;
  transition: 0.5s;
}

section .travel-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 40px;
}

section.hot-schedule {
  background-color: rgba(191, 191, 191, 0.3);
  /* border-top-right-radius: 100px;
    border-top-left-radius: 100px; */
  height: 1950px;
}

.travel-list li {
  box-shadow: -10px -10px 9px silver;
  transition: 0.5s ease-out;
}

.travel-list li:hover {
  margin-top: -20px;
}

.travel-list .thumbnail .tag {
  box-shadow: 5px 5px 9px black;
}

.travel-list .last {
  display: flex;
}

.travel-list .last li:first-child {
  margin-right: 32.165px;
}

/* 冒險型導遊介紹 */

section.travel-guide {
  background-image: url(../../images/travel-category/bcgi1.jpg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.6);
}

section.travel-guide .title {
  /* margin-top: 50px; */
  text-align: center;
  font-size: 50px;
  padding-top: 50px;
}

section.travel-guide .wrap .item img {
  width: 100%;
  height: 300px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

section.travel-guide .wrap {
  display: flex;
}

section.travel-guide .item {
  width: 302px;
  margin: 15px;
  /* border: 1px solid black; */
  height: 600px;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

section.travel-guide .item h4 {
  padding-bottom: 10px;
  /* border-bottom: 1px solid black; */
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  font-weight: bolder;
  font-size: 22px;
  color: black;
}

section.travel-guide .item p {
  line-height: 1.6;
  color: black;
}

section.travel-guide .item .txt {
  padding: 0 20px;
}

section.travel-guide .item:hover {
  cursor: pointer;
  transform: scale(1.1);
  background: #ede574; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #e1f5c4,
    #ede574
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #e1f5c4,
    #ede574
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

div.txt h4:after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  background-color: black;
  transition: width 0.5s 0.3s;
}

div.item:hover h4:after {
  width: 100%;
}

/* 冒險旅程相簿區塊 */

section.follow-us .title img {
  width: 40px;
  height: 40px;
  margin-top: 10px;
  margin-left: 100px;
  margin-right: 10px;
}

section.follow-us .title {
  position: relative;
  font-size: 40px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 50px;
}

section.follow-us a {
  font-size: 16px;
  color: #e01356;
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  align-items: center;
  font-weight: bold;
  margin-right: 100px;
}

section.follow-us ul {
  width: 992px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

section.follow-us li {
  width: 233px;
  height: 201px;
  margin-bottom: 20px;
  box-shadow: -1px -1px 5px silver;
  transition: 0.5s ease-out;
}

section.follow-us ul img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

section.follow-us li:hover {
  transform: scale(1.1, 1.1);
}

/* RWD區塊 */

@media screen and (max-width: 767px) {
  main {
    width: 100%;
  }

  section div.wrap {
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: auto;
    margin: 0;
    padding: 0;
  }

  section div.wrap div.content {
    width: 100%;
  }

  section.content-top > h2.title {
    width: 70%;
    padding-left: 50px;
  }
  section .travel-list {
    flex-direction: column;

    align-items: center;
    height: auto;
  }

  div.content div {
    height: auto;
  }

  section.content-top div.wrap div.content p {
    margin-right: 30px;
    margin-left: 30px;
  }

  section.content-top div.wrap div.thumbnail {
    margin-top: 50px;
    margin-right: 30px;
    margin-left: 30px;
  }

  div.content p:first-child {
    padding-top: 30px;
  }

  section.hot-schedule {
    height: auto;
    margin-top: 400px;
  }

  section.hot-schedule div.last {
    flex-direction: column;
    width: 100%;
    align-items: center;
    height: auto;
  }

  .travel-list .last li:first-child {
    margin-right: 0;
  }

  section.follow-us .title a {
    top: 120%;
    right: 30px;
  }

  section.follow-us ul {
    width: 90%;
    margin-top: 100px;
  }

  section.follow-us ul li {
    width: 49%;
    height: auto;
  }

  section.follow-us .title img {
    display: block;
  }

  section.travel-guide div.wrap {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .travel-list li:hover {
    margin-top: 0;
  }

  div.wrap .thumbnail {
    width: 100%;
  }
  section .travel-list .thumbnail img {
    width: 100%;
  }

  section .travel-list li {
    width: 100%;
    height: auto;
  }

  section .travel-list .detail .description {
    height: auto;
    margin-bottom: 20px;
  }

  .main-banner {
    height: 200px;
  }
}
