main {
  padding: 0px 0px 20px;
}

* {
  margin: 0;
  padding: 0;
}

/* Banner區塊 */
.main-banner {
  background-image: url(../../images/about-us/about-us-banner.jpg);
  height: 400px;
  background-size: cover;
  background-position: center;
}

/* 麵包屑區塊 */

div.breadscrumb {
  height: 50px;
  padding-top: 10px;
  padding-left: 40px;
}

div.breadscrumb .breadscrumb-list img {
  height: 20px;
  padding-top: 5px;
}

div.breadscrumb .breadscrumb-list {
  display: flex;
}

div.breadscrumb .breadscrumb-list a {
  color: grey;
  text-decoration: none;
}

div.breadscrumb .breadscrumb-list a:hover {
  color: #e01356;
}

div.breadscrumb .breadscrumb-list li::before {
  content: "/";
  font-size: 20px;
  color: black;
  margin: 0 10px;
  color: silver;
}

div.breadscrumb .breadscrumb-list li:first-child::before {
  display: none;
}

/* 內文區塊 */

div.wrap h1 {
  text-align: center;
  margin: 20px 0;
}

div.wrap p {
  text-align: center;
  display: block;
  width: 800px;
  margin: 0 auto;
}

/* 行程介紹 */
div.tour-banner {
  width: 100%;
  height: 400px;
  background: linear-gradient(115deg, #7bf 55%, transparent 55%) center center /
      100% 100%,
    url(../../images/about-us/tour-banner.jpg) right center/ auto 160%;
  background-repeat: no-repeat;
  margin-bottom: 50px;
  margin-top: 50px;
}

div.tour-container {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
}
div.tourbanner-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
}
div.tourbanner-text h2 {
  border-bottom: 1px solid #333;
}

/* 文化風情 */
div.culture-banner {
  width: 100%;
  height: 400px;
  background: linear-gradient(245deg, #028c6a 55%, transparent 55%) center
      center / 100% 100%,
    url(../../images/about-us/culture-banner.jpg) left center/ auto 160%;
  margin-bottom: 50px;
}

div.culture-container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
div.culturebanner-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  float: right;
}
div.culturebanner-text h2 {
  border-bottom: 1px solid #333;
}

/* 品牌故事 */
div.story-banner {
  width: 100%;
  height: 400px;
  background: linear-gradient(115deg, #f2ab39 55%, transparent 55%) center
      center / 100% 100%,
    url(../../images/about-us/story-banner.jpg) right center/ auto 160%;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

div.story-container {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
}
div.storybanner-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
}
div.storybanner-text h2 {
  border-bottom: 1px solid #333;
}

/* 明星導覽 */
div.guide-banner {
  width: 100%;
  height: 400px;
  background: linear-gradient(245deg, #a67f78 55%, transparent 55%) center
      center / 100% 100%,
    url(../../images/about-us/guide-banner.jpg) left center/ auto 160%;
  margin-bottom: 50px;
}

div.guide-container {
  height: 100%;
  width: 100%;
  margin: 0 auto;
}
div.guidebanner-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
  float: right;
}
div.guidebanner-text h2 {
  border-bottom: 1px solid #333;
}

/* 網路評價 */
div.review-banner {
  width: 100%;
  height: 400px;
  background: linear-gradient(115deg, #d3b6d8 55%, transparent 55%) center
      center / 100% 100%,
    url(../../images/about-us/review-banner.jpg) right center/ auto 160%;
  background-repeat: no-repeat;
  margin-bottom: 50px;
}

div.review-container {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
}
div.reviewbanner-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 45%;
}
div.reviewbanner-text h2 {
  border-bottom: 1px solid #333;
}

div.review-button {
  display: flex;
  margin-top: 30px;
  justify-content: space-between;
}

div.facebook,
div.google,
div.tripadvisor {
  display: flex;
  align-items: center;
}

div.facebook img,
div.google img,
div.tripadvisor img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

div.review-button a {
  color: black;
}

div.review-button a:hover {
  cursor: pointer;
  color: #e01356;
}

div.wrapper-rwd {
  display: none;
}

@media screen and (max-width: 1199px) {
  main {
    width: 100%;
  }

  div.wrapper-rwd {
    display: block;
  }

  div.wrap {
    width: 100%;
  }

  div.wrap h1 {
    width: 100%;
    margin: 0 auto;
  }

  div.wrap p {
    width: 85%;
    padding: 10px 20px;
    align-items: center;
    text-align: left;
  }

  div.wrapper {
    display: none;
  }

  div.wrapper-rwd {
    width: 100%;
  }
  div.tour-banner-rwd {
    width: 100%;
    height: auto;
    background-color: #7bf;
    margin-top: 50px;
  }

  div.tour-container-rwd {
    padding: 10px 20px;
  }

  div.tourbanner-text-rwd h2 {
    border-bottom: 1px solid #333;
  }

  div.thumbnail-rwd {
    width: 100%;
    height: auto;
  }
  div.thumbnail-rwd img {
    width: 100%;
  }

  div.culture-banner-rwd {
    width: 100%;
    height: auto;
    background-color: #028c6a;
    margin-top: 50px;
  }

  div.culture-container-rwd {
    padding: 10px 20px;
  }

  div.culturebanner-text-rwd h2 {
    border-bottom: 1px solid #333;
  }
  div.story-banner-rwd {
    width: 100%;
    height: auto;
    background-color: #f2ab39;
    margin-top: 50px;
  }

  div.story-container-rwd {
    padding: 10px 20px;
  }

  div.storybanner-text-rwd h2 {
    border-bottom: 1px solid #333;
  }

  div.guide-banner-rwd {
    width: 100%;
    height: auto;
    background-color: #a67f78;
    margin-top: 50px;
  }

  div.guide-container-rwd {
    padding: 10px 20px;
  }

  div.guidebanner-text-rwd h2 {
    border-bottom: 1px solid #333;
  }

  div.review-banner-rwd {
    width: 100%;
    height: auto;
    background-color: #d3b6d8;
    margin-top: 50px;
  }

  div.review-container-rwd {
    padding: 10px 20px;
  }

  div.review-text-rwd h2 {
    border-bottom: 1px solid #333;
  }

  div.review-button {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  div.facebook {
    margin-bottom: 10px;
  }

  div.google {
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .main-banner {
    height: 200px;
  }
}
